<a href="https://colab.research.google.com/github/ArnoldAloysius/AIML-Python/blob/main/AIML_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

from google.colab import auth
auth.authenticate_user()

In [ ]:
!git config --global user.name "ArnoldAloysius"

In [ ]:
!git config --global user.email "arnoldaloysius2601@gmail.com"

In [ ]:
!git clone https://github.com/ArnoldAloysius/AIML-Python.git

fatal: destination path 'AIML-Python' already exists and is not an empty directory.

In [ ]:
#Variables-used to store data
a=10
b=20
abc=30
#cannot start with a number
print(a,b,abc)

10 20 30

In [ ]:
#Operators
#Arthematic operators(+,-,*,/,//,%)// gives quotient,%gives remainder
a=10
b=20
print(a+b,a-b,a*b,a%b,a/b,a//b)

30 -10 200 10 0.5 0

In [ ]:
#Assignment Operators(=,+=,-=,/=,//=,%=)
a=20
a+=10
b=50
b-=10
c=100
c/=5
d=100
d//=5
e=100
e%=5
print("a=",a,"b=",b,"c=",c,"d=",d,"e=",e)

a= 30 b= 40 c= 20.0 d= 20 e= 0

In [ ]:
#Comparision operators(>,<,<=,>=,==,!=)
a=10
b=20
print(a>b, a<b, a<=b,a>=b,a==b,a!=b)

False True True False False True

In [ ]:
#Datatypes
#integer
A=10
print(type(A))
#Float
B=10.5
print(type(B))
#strings
C="Hi im Arnold"
print(type(C))
#Boolean(True or False)
a=5
b=8
print(a>b)

<class 'int'>
<class 'float'>
<class 'str'>
False

In [3]:
#F string
name="Arnold"
age=24
print(f" hi my name is {name}and im {24}")

 hi my name is Arnoldand im24

**Inbuilt Data types(used to store multiple data in single variable)**
List/
Tuple/
Dictionaries/
Sets
**Ordered/Changeable/Duplicates**,apply this for datatypes to understand better

In [12]:
#LISTS [] Ordered/Changeable/Duplicates

#ordered
a=[10,20,30,40]
print(a)
#duplicates(duplicates are allowed)
a1=[10,10,20,30]
print(a1)
#changeable(can modify)
#ADD(append,insert)
a2=[10,20,30,40,50]
     #add at the end of the list
a2.append("append")
print(a2)
    #add at particular position
a2.insert(3,"insert")#3 is index value 222 is element to be added
print(a2)
#DELETE(remove,pop)
a2.remove(10)
print(a2)
#UPDATE
a2[0]="update"# 0 is target index
print(a2)

[10, 20, 30, 40]
[10, 10, 20, 30]
[10, 20, 30, 40, 50, 'append']
[10, 20, 30, 'insert', 40, 50, 'append']
[20, 30, 'insert', 40, 50, 'append']
['update', 30, 'insert', 40, 50, 'append']

In [14]:
#TUPLES () ORDERED/DUPLICATES/ NOT CHANGEABLE(IMMUTABLE)
#ordered
t=(1,2,3,4,5)
print(t)
#duplicates
t1=(1,2,3,4,4,5)
print(t1)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 4, 5)